In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
dataset = pd.read_csv(r'C:\Users\ashish saha\Desktop\youtube\zcsv\combine.csv')

In [5]:
dataset.head()

,video id,Title,Description,Category
0,https://www.youtube.com/watch?v=13E5azGDK1k,FINE ART Music and Painting PEACEFUL SELECTION...,"CALM MELODIES AND BEAUTIFUL PICTURES Debussy, ...",Art and Music
1,https://www.youtube.com/user/MusicArtsFamily,Music & Arts,"The first Music & Arts, which opened in 1952, ...",Art and Music
2,https://www.youtube.com/watch?v=Xpgtc4o0o8U,Bihar Board Inter Arts Music SET 2 Model Paper...,Downloading Links- https://goo.gl/AMdF47.,Art and Music
3,https://www.youtube.com/watch?v=23Ylz5_96XU,"Peaceful, Creative Focus Music: for Reading, s...","Wishing you better sleep, peaceful meditations...",Art and Music
4,https://www.youtube.com/watch?v=AffnM5_Pk38,Ambient Music ~ Space Traveling ~ Background f...,Welcome to Deep Relaxing Space Ambient Music. ...,Art and Music

now we add title and description coloumn by adding these two coloumn store insame dataset

In [6]:
dataset['Title'+ 'Description']=dataset['Title'] + ' ' + dataset['Description']

In [7]:
dataset.head()

,video id,Title,Description,Category,TitleDescription
0,https://www.youtube.com/watch?v=13E5azGDK1k,FINE ART Music and Painting PEACEFUL SELECTION...,"CALM MELODIES AND BEAUTIFUL PICTURES Debussy, ...",Art and Music,FINE ART Music and Painting PEACEFUL SELECTION...
1,https://www.youtube.com/user/MusicArtsFamily,Music & Arts,"The first Music & Arts, which opened in 1952, ...",Art and Music,"Music & Arts The first Music & Arts, which ope..."
2,https://www.youtube.com/watch?v=Xpgtc4o0o8U,Bihar Board Inter Arts Music SET 2 Model Paper...,Downloading Links- https://goo.gl/AMdF47.,Art and Music,Bihar Board Inter Arts Music SET 2 Model Paper...
3,https://www.youtube.com/watch?v=23Ylz5_96XU,"Peaceful, Creative Focus Music: for Reading, s...","Wishing you better sleep, peaceful meditations...",Art and Music,"Peaceful, Creative Focus Music: for Reading, s..."
4,https://www.youtube.com/watch?v=AffnM5_Pk38,Ambient Music ~ Space Traveling ~ Background f...,Welcome to Deep Relaxing Space Ambient Music. ...,Art and Music,Ambient Music ~ Space Traveling ~ Background f...

Now we can see a new coloumn(TitleDescription is add in our dataset)

In [8]:
#now checking Null value
dataset.isnull().sum()

video id              0
Title                 1
Description         144
Category            145
TitleDescription    144
dtype: int64

In [9]:
#there are some null values so we drop rows which have null values
dataset=dataset.dropna()

In [10]:
dataset.isnull().sum()

video id            0
Title               0
Description         0
Category            0
TitleDescription    0
dtype: int64

No null values in our dataset

In [11]:
#select output coloumn and convert in to dataframe
y=dataset.iloc[:,[3]].values
y=pd.DataFrame(y)

In [12]:
#now we seperate the category
y

                   0
0      Art and Music
1      Art and Music
2      Art and Music
3      Art and Music
4      Art and Music
5      Art and Music
6      Art and Music
7      Art and Music
8      Art and Music
9      Art and Music
10     Art and Music
11     Art and Music
12     Art and Music
13     Art and Music
14     Art and Music
15     Art and Music
16     Art and Music
17     Art and Music
18     Art and Music
19     Art and Music
20     Art and Music
21     Art and Music
22     Art and Music
23     Art and Music
24     Art and Music
25     Art and Music
26     Art and Music
27     Art and Music
28     Art and Music
29     Art and Music
...              ...
10760   Travel Blogs
10761   Travel Blogs
10762   Travel Blogs
10763   Travel Blogs
10764   Travel Blogs
10765   Travel Blogs
10766   Travel Blogs
10767   Travel Blogs
10768   Travel Blogs
10769   Travel Blogs
10770   Travel Blogs
10771   Travel Blogs
10772   Travel Blogs
10773   Travel Blogs
10774   Travel Blogs
10775   Travel Blogs
10776   Travel Blogs
10777   Travel Blogs
10778   Travel Blogs
10779   Travel Blogs
10780   Travel Blogs
10781   Travel Blogs
10782   Travel Blogs
10783   Travel Blogs
10784   Travel Blogs
10785   Travel Blogs
10786   Travel Blogs
10787   Travel Blogs
10788   Travel Blogs
10789   Travel Blogs

[10790 rows x 1 columns]

In [13]:
#now cleaning process
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = []
for i in range(0, 10790):
    review = re.sub('[^a-zA-Z]', ' ', str(dataset['TitleDescription'][i]))
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

[nltk_data] Downloading package stopwords to C:\Users\ashish
[nltk_data]     saha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
#Convert text into Bag of words
from sklearn.feature_extraction.text import CountVectorizer
vocab = CountVectorizer(ngram_range=[1,2])
X = vocab.fit_transform(corpus).toarray()

In [15]:
#splitting the dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
#Now we use naive bayes algorithm
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

C:\Users\ashish saha\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None)

In [17]:
y_pred = classifier.predict(X_test)

In [19]:
#Now find f score
from sklearn.metrics import precision_recall_fscore_support as score
precision, recall, fscore, support = score(y_test, y_pred)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

precision: [1.         0.99455041 1.         0.99468085 1.         1.        ]
recall: [1.         1.         0.99076212 1.         1.         1.        ]
fscore: [1.         0.99726776 0.99535963 0.99733333 1.         1.        ]
support: [347 365 433 374 285 354]

In [20]:
#For plot of F1 score we can use lineplot
import seaborn as sns
sns.lineplot(x="y_pred", y="fscore", data=dataset)

In [22]:
#Now we use Random Forest algorithm
from sklearn.ensemble import RandomForestClassifier
classifier1= RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)
classifier1.fit(X_train, y_train)

C:\Users\ashish saha\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [24]:
y_pred1= classifier1.predict(X_test)

In [25]:
#for getting precision and recall of model
from sklearn.metrics import precision_recall_fscore_support as score
precision, recall, fscore, support = score(y_test, y_pred1)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

precision: [1.         0.97849462 0.99531616 0.98941799 1.         1.        ]
recall: [1.         0.99726027 0.98152425 1.         0.98596491 0.99717514]
fscore: [1.         0.98778833 0.98837209 0.99468085 0.99293286 0.99858557]
support: [347 365 433 374 285 354]

In [26]:
#For plot of F1 score we can use lineplot
import seaborn as sns
sns.lineplot(x="y_pred1", y="fscore", data=dataset)

In [27]:
'''import keras
from keras.models import Sequential
from keras.layers import Dense
#Intialising the ANN
classifier2=Sequential()
#Adding the input and first hidden layer
classifier2.add(Dense(output_dim = 6, init='uniform', activation = 'relu', input_dim=11))
#Adding the second hidden layer
classifier2.add(Dense(output_dim = 6, init='uniform', activation = 'relu'))
#Adding the output layer
classifier2.add(Dense(output_dim = 6, init='uniform', activation = 'sigmoid'))
#compiling the ann
classifier2.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
classifier2.fit(X_train, batch_size=10, nb_epoch=100)
y_pred2= classifier2.predict(X_test)
#for precision and recall
from sklearn.metrics import precision_recall_fscore_support as score
precision, recall, fscore, support = score(y_test, y_pred1)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))
#For plot of F1 score we can use lineplot
import seaborn as sns
sns.lineplot(x="y_pred2", y="fscore", data=dataset)'''

'import keras\nfrom keras.models import Sequential\nfrom keras.layers import Dense\n#Intialising the ANN\nclassifier2=Sequential()\n#Adding the input and first hidden layer\nclassifier2.add(Dense(output_dim = 6, init=\'uniform\', activation = \'relu\', input_dim=11))\n#Adding the second hidden layer\nclassifier2.add(Dense(output_dim = 6, init=\'uniform\', activation = \'relu\'))\n#Adding the output layer\nclassifier2.add(Dense(output_dim = 6, init=\'uniform\', activation = \'sigmoid\'))\n#compiling the ann\nclassifier2.compile(optimizer = \'adam\', loss = \'categorical_crossentropy\', metrics = [\'accuracy\'])\nclassifier2.fit(X_train, batch_size=10, nb_epoch=100)\ny_pred2= classifier2.predict(X_test)\n#for precision and recall\nfrom sklearn.metrics import precision_recall_fscore_support as score\nprecision, recall, fscore, support = score(y_test, y_pred1)\nprint(\'precision: {}\'.format(precision))\nprint(\'recall: {}\'.format(recall))\nprint(\'fscore: {}\'.format(fscore))\nprint(\'support: {}\'.format(support))\n#For plot of F1 score we can use lineplot\nimport seaborn as sns\nsns.lineplot(x="y_pred2", y="fscore", data=dataset)'

In [31]:

print('*'*500)

********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************

Report


Ist we choose Naive -Bayes because it give more accuracy then another svm and linear classifier,2nd Model i choose Random forest classification , i read that for text classification naive-bayes and bagging technique work better. i work on another project that also same related to text and during doing that project i experience that naive bayes(because of probabilitic approach it work better) and random forest (due to majority of vote type work)it work better for text classification. 
you can check my project on my github repositorythat i earlier done i mostly used naive bayes and random forest.

last I use artificial neural network for my model , i use this because convolution neural network is mostly used for image classification and  RNNs are designed to make use of sequential data, when the current step has some kind of relation with the previous steps .our classifier is simple so i use ann for my model

Result

My all model give same accuracy approx. 99 percent , I analyse that this is due to repition in my fetched data and we can correct our model by change code so that not get duplicate value during fetching . we can delete duplicate value and again fetch more data